html{
     font-family: Arial, Helvetica, sans-serif;
}

body{
     overflow-y: auto;
     overflow-x: hidden;
     padding:  1%;
}

.resultTextArea{
     width: 90%;
     min-width: 200px;
     height: 175px;
     overflow-y: scroll;
}
